/* Changes body Settings */
body{
    margin: 0px;
    background-color: #E8E5DA;
}

/* Changing the style of the main heading */
h1{
    text-align:center;
    background-color: #074F57;
    padding:20px;
    margin: 0px;
    color: #E8E5DA;
}

/* Changing the style of the subheading h2 */
h2{
    margin-top:20px;
    margin-left:20px;
    margin-bottom:10px;
    margin-right:0px;
    position: relative;
    left: 0px;
}

/* Sets main text margin */
main{
    margin-left:20px;
    margin-right:20px;
    position: relative;
    left: 0px;
}

/* Changing the style of the list object */
.navbar ul{
    list-style-type: none;
    background-color:#EF3E36;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/* Changing the style of the elements of the naviation bar */
.navbar a{
    color: #E8E5DA;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

/* Making the background ligher when hovering over the navbar elements */
.navbar a:hover{
    background-color: #F00C00;
}

/* Causes the navbar to be horizontal instead of vertical */
.navbar li{
    float: left;
}